body {
    background-color: #cfc5c4;
    padding-top: 50px;
}
.collapse{
    background-color: #cfc5c4;
}
.clearfix::after {
    content: "  ";
    display: block;
/*    表示不允許元素在兩側浮動。*/
    clear: both;
}
* {
    box-sizing: border-box;
    font-family: "Helvetica Neue";
    font-size: 15px;
}
@font-face {
    font-family: "fangSong";
    src: url("../fonts/fangSong.otf");
}
@font-face {
    font-family: "mingChao";
    src: url("../fonts/mingChao.otf");
}
.m-nav {
    background-color: #cfc5c4;
    border: 0;
    color: #1f1f1f;
    font-family: "Helvetica Neue";
    font-size: 18px;
}
.navbar-inverse .navbar-nav  li  a {
    color: #1f1f1f;
}
.section1{
    /* background-image: url('../images/ellipse_group.png');
    background-repeat: no-repeat;
    background-size: 500px 400px; */
    overflow: hidden;
}
.m-logo {
    width: 45px;
}
.main-roll-box .roll-image{
    width: 700px;
    margin-top: 25%;
    position: relative;
    left: -20%;
    overflow: hidden;
}
.main-fix-text{
    font-family: mingChao;
    font-size: 50px;
    position: absolute;
    left: 15%;
    bottom: 10%;
}

.title{
    font-family: mingChao;
    font-size: 50px;
}
.ellipsePic-image{
    position: absolute;
    top: 0;
    left: 55%;
    top: 30%;
    z-index: 20;
    width: 300px;
}
.slogan-image{
    position: absolute;
    top: 5%;
    left: -15%;
    z-index: 20;
    width: 300px;
}
.no-pa-mar {
    margin: 0;
    padding: 0;
}
.mar-bt-20 {
    margin-bottom: 20px;
}
.mar-top-30 {
    margin-top: 30px;
}
.chao-title {
    font-size: 28px;
    font-family: fangSong;
    padding-bottom: 5px;
}
.section-title {
    font-size: 22px;
}
.title-bottom {
    border-bottom: 1px solid #7e7976;
    padding: 0;
    margin: 0;
}

/*首字母放大*/
.chao-text:first-letter {
    font-size: 33px;
}

.section2-left {
    background-image: url("../images/");
}
.fix-end {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.text-l {
    text-align: left;
}
.text-r {
    text-align: right;
}

.suffer-item {
    text-align: center;
    margin-bottom: 40px;
}

.suffer-item .number {
    color: #99858d;
    font-size: 50px;
    line-height: 40px;
}
.suffer-item .name {
    color: #99858d;
}
.suffer-item .text {
    margin: 30px 0;
    font-size: 18px;
    font-family: fangSong;
    line-height: 30px;
}
.faq-box li {
    list-style-type: none;
    /* list-style-image: url("../images/faq.png"); */
    background-image: url('../images/faq.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    background-position: left center;
}
.faq-box ul li {
    padding-bottom: 5px;
    border-bottom: 1px solid #9e8c92;
    font-size: 18px;
    margin: 10px 0;
}
.faq-box .answer {
    color: #303333;
    display: none;
}
.faq-box .answer a {
    color: #6a5b60;
    font-size: 16px;
}
.mar-top-40 {
    margin-top: 40px;
}

.share-box {
    border-top: 1px solid #9c8990;
    padding-bottom: 100px;
    padding-top: 30px;
}
.form-group {
    margin: 10px 0;
    margin-right: 0 !important;
    margin-left: 0 !important   ;
}
.form-group input{
    margin-bottom: 20px;
}
.form-group input::placeholder {
    color: #917e86 !important;
}
.share-btn {
    color: #fff;
    font-size: 24px;
    font-family: fangSong;
    border-radius: 5px;
    background-color: #82767a;
    padding: 8px 10px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
}
.text-c{
    text-align: center;
}
.f-s{
    font-family: fangSong;
    font-size: 18px;
}
.f-s-f{
    font-family: fangSong;
    font-size: 15px;
}

.pd-bt-40{
    padding-bottom: 40px;
}
a{
    color: #1f1f1f !important
}
.wen1{
    width: 200px;
}
